@()

<link rel="stylesheet" href='@controllers.routes.Assets.at("jquery/jquery-ui.min.css")'/>
<link rel="stylesheet" href='@controllers.routes.Assets.at("jquery/jquery-ui.structure.min.css")'/>
<script type="text/javascript" src='@controllers.routes.Assets.at("jquery/jquery-ui.min.js")'></script>
<script type="text/javascript" src='@controllers.routes.Assets.at("jquery/jquery-ui-1.12.1.min.js")'></script>
<script type="text/javascript" src='@controllers.routes.Assets.at("javascript/countryMatching.js")'></script>
<script>
        $(document).ready(function() {
            countryCodeAutoComplete("#country")
            var classOfSelect1 = $('#country_').attr('class');
            $("#country").addClass(classOfSelect1)
            var labelText1 = $("#country_field").text();
            var divId1 = "country_div"
            var fieldId1 = "country_"
            createLabelForHiddenSelect(divId1, fieldId1, labelText1);
        });
</script>
