@import uk.gov.hmrc.play.views.html.helpers.{form, input}
@import views.html.partials._
@import models.BusinessDetailsModel

@(appConfig: config.AppConfig, businessDetailsForm: Form[BusinessDetailsModel])(implicit request: Request[_], messages: Messages)

@views.html.main_template(title = Messages("businessDetails.title"), bodyClasses = None, appConfig = appConfig) {

    @errorSummary(businessDetailsForm, "business-details", "businessDetails")

    <h1 class="heading-xlarge">@Messages("businessDetails.title")</h1>

    <p class="lede">@Messages("businessDetails.subHeading")</p>

    @form(action = controllers.routes.ClientController.submitBusinessDetails()) {
            @input(
                businessDetailsForm("companyName"),
                '_label -> Messages("businessDetails.registeredName"),
                '_type -> "text",
                '_inputClass -> s"form-control",
                '_labelClass -> "form-group",
                '_inputHint -> Messages("businessDetails.registeredNameHint")
            )

            <div class="form-group">

                <label class="form-label">@Messages("businessDetails.utr")</label>

                <span id="registrationHelpLink" class="summary">@Messages("businessDetails.utrHelp")</span>

                <input class="form-control" value="utr" type="text"/>

                <button class="button" type="submit" id="continue-button">@Messages("common.continue")</button>
            </div>
    }
}