@import uk.gov.hmrc.play.views.html.helpers.form
@import uk.gov.hmrc.play.views.html.helpers.input
@import views.html.partials._
@import models.BusinessDetailsModel

@(appConfig: config.AppConfig, businessDetailsForm: Form[BusinessDetailsModel])(implicit request: Request[_], messages: Messages)

@additionalContent = {
    <details role="group">
        <summary role="button" aria-controls="details-content" aria-expanded="false">
            <span class="summary">@Messages("businessDetails.utrLink")</span>
        </summary>
        <div class="indent" id="details-content" aria-hidden="true">
            <p>@Messages("businessDetails.utrHelp.one")</p>
            <p>@Messages("businessDetails.utrHelp.two")</p>
            <p>@Messages("businessDetails.utrHelp.three")</p>
        </div>
    </details>
}

@views.html.main_template(title = Messages("businessDetails.title"), bodyClasses = None, appConfig = appConfig) {

    @errorSummary(businessDetailsForm, "business-details", "businessDetails")

    <h1 class="heading-xlarge">@Messages("businessDetails.title")</h1>

    <p class="lede form-group">@Messages("businessDetails.subHeading")</p>

    @form(action = controllers.routes.ClientController.submitBusinessDetails()) {
            @input(
                businessDetailsForm("companyName"),
                '_label -> Messages("businessDetails.registeredName"),
                '_type -> "text",
                '_inputClass -> "shim input grid-1-2",
                '_labelClass -> "form-group",
                '_inputHint -> Messages("businessDetails.registeredNameHint")
            )

            @cgtInput(
                businessDetailsForm("utr"),
                '_label -> Messages("businessDetails.utr"),
                '_type -> "text",
                '_inputClass -> "shim input grid-1-2",
                '_labelClass -> "form-group",
                '_inputHint -> Messages("businessDetails.utrHelp"),
                '_additionalContent -> additionalContent
            )

        <button class="button" type="submit" id="continue-button">@Messages("common.continue")</button>
    }
}