@import uk.gov.hmrc.play.views.html.helpers.form

@(appConfig: config.AppConfig, cgtReferenceNumber: String, callbackUrl: String)(implicit request: Request[_], messages: Messages)

@views.html.main_template(title = Messages("clientConfirmation.title"), bodyClasses = None, appConfig = appConfig) {

    <h1 class="visuallyhidden">@Messages("clientConfirmation.title")</h1>

    <div id="confirmation-banner" class="transaction-banner--complete">
        <span class="heading-large">@Messages("clientConfirmation.reference")</span>

        <p class="heading-medium confirm-padding">
            <strong class="heading-medium">@cgtReferenceNumber</strong>
        </p>
    </div>

    <div class="form-group">
        <span class="heading-medium">@Messages("clientConfirmation.whatNext")</span>
        <p>@Messages("clientConfirmation.guidance")</p>
    </div>

    <a href=@controllers.routes.AgentController.showClientList(callbackUrl).url class="button">@Messages("common.continue")</a>
}